@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif; */
	@apply m-0 p-0 font-sans;
}

input {
	/* max-width: 500px; */
	@apply max-w-[500px];
}

.button {
	/* font-family: monospace;
	font-size: 10pt;
	color: black;
	background-color: buttonface;
	text-align: center;
	padding: 2px 6px 3px;
	border-width: 2px;
	border-style: outset;
	border-color: buttonface;
	cursor: pointer;
	max-width: 250px; */

	@apply font-mono text-[10px] text-black bg-buttonface text-center pt-0.5 pr-1.5 pb-[3px] border-2 border-buttonface cursor-pointer max-w-[250px];
}

.f11 {
	/* font-size: 11px; */
	@apply text-[11px];
}

.w85 {
	/* width: 85%; */
	@apply w-[85%];
}
